@reference "tailwindcss";

@import "tailwindcss/preflight" @tailwind utilities;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased;
  }

  a {
    @apply text-blue-600 hover:underline;
  }
}
